<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'style.css'%}"> 
    <title>Document</title>
</head>
<body style="background-color: #080808">
     <div id="header">
        <div class="container">
       <nav>
                <ul>
                    <li> <a href="http://127.0.0.1:8000/index/">Accueil </a> </li>
                    <li> <a href="http://127.0.0.1:8000/realisation">Réalisation </a> </li>
                    <li> <a href="http://127.0.0.1:8000/competence">Compétence </a> </li>
                    <li> <a href="http://127.0.0.1:8000/loisir/">Loisir </a> </li>
                    <li> <a href="http://127.0.0.1:8000/contact/">Contact </a> </li>
                </ul>
            </nav>
      <br> <br> <br>
      <h2 style="color:white;" align="center">Mes loisirs</h2>
      <form align="center">
            <p style="color:white;"> Je profite de mes congés pour vivre ma passion pour le volley ball et la chorale, avec comme prochain challenge la participation au championnat national au mois de septembre 2024.<br> <br> Le reste de l’année, je cours davantage que je ne marche : vu que j'ai deux enfants en bas et je suis capitaine de mon équipe de volley (Ankoba Volley Ball Club Anosy) depuis quelque temps, et également coach pour les benjamins du club. <br><br>Entre deux entraînements, je m’intéresse à des séries policières de manière générale en suivant des documentaires spécialiser et en regardant des saisons entières. »</p>
      </div>
    </div>    
     </form>         
        
      
    </body>
</html>
