<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'style.css'%}"> 
    <title>Document</title>
</head>
<body style="background-color: #080808">
     <div id="header">
        <div class="container">
       <nav>
                <ul>
                    <li> <a href="http://127.0.0.1:8000/index/">Accueil </a> </li>
                    <li> <a href="http://127.0.0.1:8000/realisation/">Réalisation </a> </li>
                    <li> <a href="http://127.0.0.1:8000/competence/">Compétence </a> </li>
                    <li> <a href="http://127.0.0.1:8000/loisir/">Loisir </a> </li>
                    <li> <a href="http://127.0.0.1:8000/contact/">Contact </a> </li>
                </ul>
            </nav>
      <br> <br> <br>
      <h2 style="color:white;" align="center">Mes réalisations</h2>
      <form align="center">
            <br> <br>
            <p>Développement d’une application desktop TOHANO, plateforme de mise en relation de malades et leurs familles avec les associations ou autres: 
            PostgreSQL | C# | WPF <br> <br>

            Développement d'un site e-commerce pour mettre en relation des vendeurs de mode éthique et responsable avec leurs clients
            PostgreSQL | React | Spring boot| Html | CSS <br> <br>

            Annuaire électronique
            JavaFx | .txt | FontAwesome | Scene Builder </p>
            <br> <br> <br>
            <a href="http://127.0.0.1:8000/formulaire" style="color: pink"> Des observations ? Cliquez ici </a>
      </div>
    </div>    
     </form>         
        
      
    </body>
</html>
